<h1 class="title">Welcome to Old Timey Strings!</h1>

<div class="login float-left">
<h1>Login</h1>

<% @errors && @errors.each do |e| %>
<li><%= e %></li>
<% end %>

<%= form_for :user do |f| %>
<h3><%= f.label "Username" %></h3>
<%= f.text_field :username %>
<h3><%= f.label "Password" %></h3>
<%= f.password_field :password%>
<%= f.submit "Log In" %>
<% end %>
</div>
<div class="lower-left foot-color">

  <div class="card">
    <img src="Coverpic.jpg" alt="Historical Photograph"  class="card-img-top img-fluid" >
  </div>

<h4>If you're new to Old Time Strings, sign up here!</h4>
<%= button_to "Signup", signup_path, method: :get%></div>