<div class="login">
<h1>Login</h1>

<% @errors && @errors.each do |e| %>
<li><%= e %></li>
<% end %>

<%= form_for :user do |f| %>
<%= f.label "Username" %>
<%= f.text_field :username %>
<%= f.label "Password" %>
<%= f.password_field :password%>
<%= f.submit "Log In" %>
<% end %>
</div>