
<h1 class="title">Welcome to Old Timey Strings!</h1>

<div class="card-group">
  <div class="card">
    <img src="banjo.jpg" alt="Banjo"  class="card-img-top img-fluid" >
    <div class="card-body home-card"> 
      <h5 class="card-title">Banjos</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">    
      <button class="text"><%= link_to "Search Banjos", family_categories_path(1) %></button>
     <%= button_to "Add a Banjo", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 1} %>
    </div>
  </div>
  <div class="card">
    <img src="guitar.jpg" alt="Guitar" class="card-img-top img-fluid" >
    <div class="card-body home-card">
      <h5 class="card-title">Guitars</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
           <button class="text"><%= link_to "Search Guitars", family_categories_path(2) %></button>
     <%= button_to "Add a Guitar", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 2} %>
    </div>
  </div>
  <div class="card">
    <img src="mando.jpg" alt="Mandolin"  class="card-img-top img-fluid" >
    <div class="card-body home-card">
      <h5 class="card-title">Mandolins</h5>
      <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
          <button class="text"><%= link_to "Search Mandolins", family_categories_path(3) %></button>
     <%= button_to "Add a Mandolin", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 3} %>
    </div>
  </div>
</div>

<%
=begin%>
 
<img src="banjo.jpg" alt="Banjo" max-width="600" height="400"><br>
<img src="guitar.jpg" alt="Guitar" max-width="600" height="500"><br>
<img src="mando.jpg" alt="Mando" max-width="600" height="400"><br> 
<%
=end%>
