
<h1 class="title">Welcome to Old Timey Strings!</h1>
<div class="row">
  <div class="col-sm-10 mx-auto">
<div class="card-group">
  <div class="card">
    <img src="banjo.jpg" alt="Banjo"  class="card-img-top img-fluid" >
    <div class="card-body home-card"> 
      <h5 class="card-title">Banjos</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">    
      <button class="text"><%= link_to "Search", family_categories_path(@family, family_id: family.id) %></button>
     <%= button_to "Add", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 1} %>
    </div>
  </div>
  <div class="card">
    <img src="guitar.jpg" alt="Guitar" class="card-img-top img-fluid" >
    <div class="card-body home-card">
      <h5 class="card-title">Guitars</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
           <button class="text"><%= link_to "Search", family_categories_path(2) %></button>
     <%= button_to "Add", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 2} %>
    </div>
  </div>
  <div class="card">
    <img src="mando.jpg" alt="Mandolin"  class="card-img-top img-fluid" >
    <div class="card-body home-card">
      <h5 class="card-title">Mandolins</h5>
      <p class="card-text "></p>
    </div>
    <div class="card-footer">
          <button class="text"><%= link_to "Search", family_categories_path(3) %></button>
     <%= button_to "Add", new_family_instrument_path(current_user), method: :get, params: {'family[id]' => 3} %>
    </div>
  </div>
</div>
  </div>
</div>
