<% if @user.errors.any? %>
<div id="error_explanation">
  <h2>Oops!  We noticed  
    <%= pluralize(@user.errors.count, "error") %>
    when trying to process your information.
  </h2>
  
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li class="text-color"><%= msg %></li>
  <% end %>
  </ul>
</div> 
<% end %>

<h4><%= form.label "Username" %></h4>
<%= form.text_field :username %>

<h4><%= form.label "Email" %></h4>
<%= form.text_field :email %>

<h4><%= form.label "Password" %></h4>
<%=form.password_field :password %>

<h4><%= form.label "Password Confirmation" %></h4>
<%= form.password_field :password_confirmation %><br><br>