<div class="title show"><h1><%= @user.username %>'s Page</h1>
<h6><%= @user.email %></h6><br></div>


<div class="card text-center mx-auto" style="width: 18rem;">
  <div class="card-header">
    <h3>Available Instruments</h3>
  </div>

<ul class="list-group list-group-flush">
  <% @user.instruments.order(:category_id).each do |instrument| %>
    <% if instrument.for_sale == true %>
      <li class="list-group-item text"><%= link_to instrument.category.name, instrument_path(instrument) %>(<%= instrument.year %>) - 
      <%= instrument.maker.name %></li>
    <% end %>
  <% end %>
</ul>
</div>

<div class="card text-center mx-auto" style="width: 18rem;">
  <div class="card-header">
   <h3>Currently Unavailable</h3>
  </div>

<ul class="list-group list-group-flush">
  <% @user.instruments.order(:category_id).each do |instrument| %>
    <% if instrument.for_sale == false %>
      <li class="list-group-item text"><%= link_to instrument.category.name, instrument_path(instrument) %>(<%= instrument.year %>) - 
      <%= instrument.maker.name %></li>
    <% end %>
  <% end %>
</ul>
</div>

<% if @user.id == session[:user_id] %>
<button class="text"style="text_decoration: none;"><%= link_to "Edit My Info", edit_user_path(@user) %></button>
<%= button_to "Delete My Account", user_path(@user), method: :delete, data: { confirm: "Are You Sure?" } %>

<% end %>