<div class="show title">
<h1>
Edit your 
 <% if @family.id == 1 %>
Banjo
<% elsif @family.id == 2 %>
Guitar
<% elsif @family.id == 3 %>
Mandolin
<% end %> 
</h1></div>

<%= form_for @instrument do |form| %>

<%= render partial: "instruments", locals: { form: form, family: @family, instrument: @instrument  } %>

<div><%= form.label "For Sale"%></div>
     <%= form.text_field :for_sale%>

<div><%= form.submit "Edit Instrument"%></div>
<% end %>