<div class="card mx-auto" style="width: 18rem;">

  <div class="card-body">

    



<% if @instrument.for_sale == true %>
<h5 class="card-title text-center">For Sale!</h5>
<% else %>
<h5 class="card-title text-center">Currently Not For Sale</h5>
<% end %>
  <%
=begin%>
 <img src="..." class="card-img-top" alt="..."> 
<%
=end%>
  
  <% if @instrument.description != "" && @instrument.description != nil %>
<p class="card-text">Description:
<%= @instrument.description %></p>
<% end %>
 </div> 
  
  <ul class="list-group list-group-flush">

  


<li class="list-group-item">Category: <%= @instrument.category.name %></li>
<li class="list-group-item">Maker: <%= @instrument.maker.name %></li>
<li class="list-group-item">Year: <%= @instrument.year %></li>

<% if @instrument.color != "" && @instrument.color != nil %>
<li class="list-group-item">Color:
<%= @instrument.color %></li>
<% end %>

<% if @instrument.material != "" && @instrument.material != nil %>
<li class="list-group-item">Material:
<%= @instrument.material %></li>
<% end %>

<% if @instrument.frets %>
<li class="list-group-item">Frets:
<%= @instrument.frets %></li>
<% end %>

<% if @instrument.back != "" && @instrument.back != nil %>
<li class="list-group-item">Back:
<%= @instrument.back %></li>
<% end %>

<% if @instrument.body != "" && @instrument.body != nil %>
<li class="list-group-item">Body:
<%= @instrument.body %></li>
<% end %>

<% if @instrument.neck != "" && @instrument.neck != nil %>
<li class="list-group-item">Neck:
<%= @instrument.neck %></li>
<% end %>

<% if @instrument.bridge != "" && @instrument.bridge != nil %>
<li class="list-group-item">Bridge:
<%= @instrument.bridge %></li>
<% end %>

<% if @instrument.hole != "" && @instrument.hole != nil %>
<li class="list-group-item">Sound Hole:
<%= @instrument.hole %></li>
<% end %>

<% if @instrument.price && @instrument.for_sale == true%>
<li class="list-group-item">Price: $
<%= '%.2f' % @instrument.price %>USD</li>
<% end %>

</ul>
<div class="title space">
  <div>Username:
    <%= link_to @instrument.user.username, user_path(@instrument.user) %></div>
  <div>Email:
    <%= @instrument.user.email %></div>
</div>
</div>

 
<% if session[:user_id] == @instrument.user.id %>

<button class="text"style="text_decoration: none;"><%= link_to "Edit", edit_instrument_path(@instrument.id) %></button>
<%= button_to "Delete", @instrument, method: :delete, data: { confirm: "Really?" } %>
<% end %><br><br> 



