<!DOCTYPE html>
<html>
  <head>
    <title>ZOldTimeStrings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css"> 
  </head>

  <body class="navpic">
    <% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-item">
              <button class="nav-link active text"><%= link_to "Home", families_path %></button>
            </li>
            <li class="nav-item">
              <button class="nav-link text"><%= link_to "Everything", instruments_path %></button>
            </li>
            <li class="nav-item">
              <button class="nav-link text"><%= link_to "My Instruments", user_path(session[:user_id]) %></button>
            </li>
            <li class="nav-item" class="nav-link">
              <%= button_to "Logout", logout_path, method: :post %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

      <br>
    <% end %>

    <%= yield %><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>